---
Checks: >
  -*,
  cert-*,
  llvm-*,
  bugprone-*,
  performance-*,
  linuxkernel-*,
  clang-analyzer-*,
  -cert-dcl37-c,
  -cert-dcl51-cpp,
  -llvm-header-guard,
  -bugprone-reserved-identifier,
  -bugprone-inc-dec-in-conditions,
  -bugprone-easily-swappable-parameters,
  -clang-analyzer-security.insecureAPI.strcpy,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
  -performance-no-int-to-ptr,
  -bugprone-narrowing-conversions,
  -bugprone-multi-level-implicit-pointer-conversion,
  -clang-analyzer-optin.performance.Padding,
  -clang-analyzer-optin.core.EnumCastOutOfRange
---
