---
Checks: >
  -*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-narrowing-conversions,
  -bugprone-multi-level-implicit-pointer-conversion,
  -bugprone-reserved-identifier,
  -bugprone-assignment-in-if-condition,
  clang-analyzer-*,
  -clang-analyzer-security.insecureAPI.strcpy,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
  -clang-analyzer-optin.performance.Padding,
  -clang-analyzer-optin.core.EnumCastOutOfRange,
  performance-*,
  -performance-no-int-to-ptr,
  linuxkernel-*,
  cert-*,
  -cert-dcl37-c,
  -cert-dcl51-cpp,
  -cert-err33-c,
  -cert-err34-c,
  llvm-*,
  -llvm-header-guard,
  -llvm-include-order,
  misc-*,
  -misc-include-cleaner,
  -misc-unused-parameters,
  -misc-unused-using-decls,
  -misc-redundant-expression,
  readability-*,
  -readability-identifier-length,
  -readability-function-cognitive-complexity,
  -readability-magic-numbers,
  -readability-avoid-return-with-void-value,
  -readability-named-parameter,
  -readability-non-const-parameter,
  -readability-isolate-declaration,
  -readability-braces-around-statements,
  -readability-else-after-return,
  -readability-simplify-boolean-expr,
  -readability-redundant-access-specifiers,
  -readability-redundant-member-init,
  -readability-redundant-preprocessor,
  -readability-redundant-smartptr-get,
  -readability-redundant-string-cstr,
  -readability-redundant-string-init,
  -readability-inconsistent-declaration-parameter-name,
  -readability-make-member-function-const,
  -readability-qualified-auto,
  -readability-use-anyofallof,
  -readability-container-contains,
  -readability-container-data-pointer,
  -readability-container-size-empty,
  -readability-string-compare,
  -readability-static-accessed-through-instance,
  -readability-static-definition-in-anonymous-namespace,
  -readability-suspicious-call-argument,
  -readability-uniqueptr-delete-release,
  -readability-uppercase-literal-suffix,
  -readability-implicit-bool-conversion,
  -readability-delete-null-pointer,
  -readability-avoid-unconditional-preprocessor-if,
  concurrency-*,
  portability-*,
  -misc-no-recursion
WarningsAsErrors: ''
HeaderFilterRegex: '.*'
...
