mainmenu "Uinxed-Kernel"

  menu "Kernel debugging"

  config KERNEL_LOG
    bool "Kernel runtime logging output"
    default y
    help
      "Outputs kernel log messages during system runtime to aid the monitoring and debugging."

endmenu

menu "Processor configuration"
  menu "Symmetric multi-processing"

    config CPU_MAX_COUNT
      int "Maximum number of CPUs"
      default 0
      help
        "Limits the maximum number of CPUs the kernel can use, set to 0 for no limit."

  endmenu

  menu "Extended instruction set"

    config CPU_FEATURE_FPU
      bool "Enable X87FPU (Intel 80X87 Floating-Point Unit)"
      default y
      help
        "Set whether to enable X87FPU."

    config CPU_FEATURE_SSE
      depends on CPU_FEATURE_FPU
      bool "Enable SSE/SSE2 (Streaming SIMD Extensions)"
      default y
      help
        "Set whether to enable SSE/SSE2."

    config CPU_FEATURE_AVX
      depends on CPU_FEATURE_SSE
      bool "Enable AVX/AVX2 (Advanced Vector Extensions)"
      default y
      help
        "Set whether to enable AVX/AVX2."

  endmenu
endmenu

menu "Device drivers"
  menu "Character drivers"
    menu "Teletype drivers"

      config TTY_DEFAULT_DEV
        string "Default teletype device"
        default "tty0"
        help
          "Specifies the default teletype device used when no device is explicitly set by boot parameters."

      config TTY_BUF_SIZE
        int "Teletype buffer size"
        default 4096
        range 256 16384
        help
          "Buffer size for temporarily storing input and output data in the teletype driver."

    endmenu
    menu "Serial port drivers"

      config SERIAL_BAUD_RATE
        int "Serial port baud rate"
        default 9600
        range 9600 115200
        help
          "Default baud rate used by the serial port driver."

      config SERIAL_DATA_BITS
        int "Serial port data bits"
        default 8
        range 5 8
        help
          "Number of data bits per character for the serial port device."

      config SERIAL_STOP_BITS
        int "Serial port stop bits"
        default 1
        range 1 2
        help
          "Number of stop bits per character for the serial port device."

    endmenu
  endmenu
endmenu
